#console.col-md-12

.row

  .col-md-8
    %h2 Sign-up Example
    = form_tag api_user_registration_path(:format => :json), :class => "col-md-8 registration-form", :remote => true, :method => :post do

      .devise-registration-form.form-inputs
        .row
          .col-md-4
            = label_tag "Email Address"
          .col-md-4
            = text_field_tag "user[email]"
        .row
          .col-md-4
            = label_tag "Password"
          .col-md-4
            = password_field_tag "user[password]"
        .row
          .col-md-4
            = label_tag "Password Confirmation"
          .col-md-4
            = password_field_tag "user[password_confirmation]"
        .row
          .form-actions.col-md-8
            %button.btn.btn-success Sign up

  .col-md-8
    %h2 Login Example
    = form_tag api_tokens_path(:format => :json), :class => "col-md-8 log demo-login-form log", :remote => true do
      .row
        .col-md-4
          = label_tag "Email"
        .col-md-4
          = text_field_tag 'user[email]'
      .row
        .col-md-4
          = label_tag "Password"
        .col-md-4
          = password_field_tag 'user[password]'
      .row
        .col-md-8
      %button.btn.btn-primary Sign in

  .col-md-4
    %h2 Token
    #token
      = auth_token

.row
  .col-md-8
    %h2 Check Account Details
    = form_tag "/api/account.json", :class => "col-md-8 demo-account-form", :method => :get, :remote => true do
      = hidden_field_tag "auth_token", auth_token, :class => "auth-token-input"
      %button.btn.btn-primary Get My Account Details
  .col-md-4
    .col-md-4#account

.row
  .col-md-4
    %h2 Mailbox
    = form_tag "/api/mailbox.json", :class => "col-md-8 log mailbox-form log", :method => :get, :remote => true do
      .row
        .col-md-3
          = label_tag "Page"
        .col-md-1
          = text_field_tag 'page'
          = hidden_field_tag "auth_token", auth_token, :class => "auth-token-input"
      .row
        .col-md-4
          %button.btn.btn-primary Get Mail
  .col-md-8
    .col-md-8#mailbox
